[submodule ".registry"]
	path = .registry
	url = https://github.com/lauyeehow1986-hub/lauyeehow1986-hub.r-universe.dev
	branch = HEAD
[submodule "waffle"]
	path = waffle
	url = https://github.com/hrbrmstr/waffle
